header{
    background: white;
    overflow: hidden;
  }
  
  #nav{
    text-decoration: none;
    color: #5f5f5f;
}
  
forkAndKnife {
    float: left
}

#icons{
    float: right;
}
 
  header > img {
    float: left;
  }

  #social li{
    padding-left: 2px;
    float: right;
    vertical-align: top;
    margin: .1em;
  }
  
  #main {
    clear: both;
    border-top: solid black;
  }
  
  #pizzapic {
      height: 400px;
      padding: 20px 40px;
      width: 600px;
      vertical-align: center;
  }


  #strike{
    text-decoration: line-through     
  }
  /* h1{
    color: black;
    font-size: 2em;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    margin-left: em;
  } */

/* ********** */


footer{
    align-content: center;
    margin: 0px 20px 0px 20px;
}

#line-break-div {
    align-content: center;
    margin: 0 10% 0 10%
}

#logo-div {
    margin: auto;
    width: 5%;
    height: 5%;
    /*border: 3px solid green;*/
    align-content: center;
    position: relative;
    bottom: 60px;
    background: white;
    padding: 2%;
    
}

img {
    margin: 0 auto;
    width: 90%;
    height: 90%;
}

#copyright-div {
    text-align: center;
    margin: 1px auto;
}

